@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;900&display=swap');

:root{
    --dark-blue : #09206F;
    --light : #F0F3F8;
    --name-yellow : #F9A61A;
    --notification-color : #FFC14B;
    --notify-text : #5B5A5A;
    --notify-hover : #F0F1F6;
    --date : #B0B0B0;
    --hr-color : #D6D6D6;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box !important;
    font-family: 'Roboto' !important;
    outline: none !important;
}

body,html{
    min-width: 350px !important;
    background-color: var(--light);
}
/* sidebar active */
.active{
    display: block;
    position: absolute;
    z-index: 10;

}

/* topbar */
header{
    display: flex;
    position: relative;
    z-index: 10;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.424);
}
#logo img{
    width: 200px;
    margin-left: 20px;
    cursor: pointer;
}
#alert{
   display: flex;
   align-items: center;
   position: relative;
   text-align: center;
}
/* #alert::after{
    
} */
.male-profile{
    height: 60px;
    margin-right: 15px;
    margin: 4px 2vw 4px 30px;
    cursor: pointer ;
}
.bell{
    padding-right: 30px;
    width: 60px;
    height: 45px;
    border-right: 2.5px solid rgba(0, 0, 0, 0.335);
    cursor: pointer;
}
#alert::before{
    content: "";
    color: #fff;
    position: absolute;
    z-index: 5;
    text-align: start;
    top: 18px;
    left: 15px;
    font-size: 0.6em;
    text-align: center;
    width: 18px;
    height: 18px;
    line-height: 19px;
    border-radius: 50%;
    background-color: var(--notification-color);
}
.bar{
    display: none; 
    position: absolute;
    cursor: pointer;
    z-index: 20;
    width: 2.4em;
    height: 2.4em;
    margin: 5px 0 0 1vw;
    padding: 10px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    background-color: rgb(104, 78, 255);
    transition: 0.1s all ease-out;
}
.bar-transform{
    
    transform: translate(240px);
}
section{
    display: flex;
    min-height: 100vh;
}

/* side bar*/
.sidebar{
    background-color: var(--dark-blue);
    color: #ffffff;
    height: 100vh;
    width: 300px;
    padding: 65px 0 0 0px;
    
}
.sidebar ul li{
    list-style: none;
    display: flex;
    font-weight: 300;
    align-items: center;
    cursor: pointer;
    padding:10px 0 10px 10px;
    border-left:  4px solid var(--dark-blue);
}
.sidebar img{
    width: 30px;
    margin-right: 20px;
}
.sidebar ul li:hover{
    background-color: rgba(255, 255, 255, 0.294);
    transition: 0.1s;
    border-left:  4px solid #fff;
}
#home{
    border-left: 4px solid #fff;
    background-color: rgba(255, 255, 255, 0.294);
}

/* Mentor profile */
.mentor-profile{
    background-color: #fff;
    width: 70%;
    height: 16em;
    margin: 2em auto;
    border-radius: 1em;
    box-shadow: 0 1.5px 10px rgba(0, 0, 0, 0.267);
}
.mentor-center{
    display: flex;
    align-items: center;
    margin: 0 0 0 1em;
}
.mentor-profile h1{
    text-align: center;
    background-color: var(--dark-blue);
    color: #fff;
    border-radius: 0 0 20px 20px;
    font-weight: 300;
    width: max-content;
    margin: auto;
    padding: 15px 35px;
}
.mentor-img{
    width: 150px;
    height: 150px;
    background-size: 100%;
    border-radius: 50%;
    border: 3px solid var(--name-yellow);
}
.mentor-profile p{
    width: 300px;
    color: var(--dark-blue);
    margin: 0 0 18px 20px;
}
.mentor-profile span{
    color: var(--name-yellow);
}
.call-btn{
    margin: 0 auto;
    padding: 0.5em 1em;
    border-radius: 100em;
    background-color: var(--dark-blue);
    width : max-content;
}
.call-btn a{
    color: #fff;
    text-decoration: none;
}
.svg{
    height: 100%;
    width: 70%;
    transform : scale(1.2);
    background-image: url(/jeecarnot-mentee-frontend/cdn/Assets/images/Studying-rafiki.png);
    background-repeat: no-repeat;
    background-position: center;
    margin: 4em auto 0 auto ;
}
/* Notification bar */
.hidden{
    display: block !important;
}
.notifications{
    display: none;
    position: absolute;
    top:90%;
    right: 7em;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.308);
    overflow: hidden;
    width: 25em;
    padding:0 0 5px 0;
}
.notifications > h1{
    background-color: var(--dark-blue);
    -moz-user-select: none;
    -webkit-user-select: none;
    color: #fff;
    font-size: 1.1em;
    font-weight: 400;
    padding: 1em 0;
}
.notifications .fa-bell{
    font-size: 1.3em;
    position: absolute;
    left: 1em;
}
.notifications > h1 img{
    position: absolute;
    left: 1em;
    width: 1.5em;
}
.notify-text{
    text-align: start;
    padding: 1px 3em;
    cursor: pointer;
}
.notify-text:hover{
    background-color: var(--notify-hover);
}
.notify-text h1{
    font-size: 0.7em;
    color: rgba(0, 0, 0, 0.658);
    margin: 15px 0 3px 0;
    position: relative;
}
.notify-text h1 span{
    font-weight: 400;
    font-size: 1em;
}
.notify-text h1::before{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    top: 2px;
    left: -30px;
    border-radius: 50%;
    background-color: var(--notification-color);
}
.text-msg{
    font-size: 0.8em;
    color : var(--notify-text); 
}
hr{
    margin-top: 5px;
    border: 1px solid var(--hr-color);
    background-color: var(--hr-color);
}
.bottomText{
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    font-size: 0.7em;
    color: var(--date);
}
.link{
    font-weight: 400;
}
.last-txt{
    color: var(--dark-blue);
    text-decoration: none;
}

/* Creating responsive layout */
@media only screen and (max-width: 1200px){
    aside{
      display: none;
    }
    .bar{
        display: block;
    }
    .mentor-profile{
        margin-top: 4em;
        width: 85vw;
    }
}
@media only screen and (max-width: 600px){
    .mentor-profile{
        height: 24em;
    }
    .mentor-center{
        padding: 1em 0 0 0;
        flex-direction: column;
    }
    .svg{
        display: none;
    }
    #logo img{
        width: 140px;
    }
    .notifications{
        right: 3vw;
        width: 90vw ;
        margin: auto;
    }
}

