@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;900&display=swap');

:root{
    --dark-blue : #09206F;
    --light : #F0F3F8;
    --name-yellow : #F9A61A;
    --notification-color : #FFC14B;
    --notify-text : #5B5A5A;
    --notify-hover : #F0F1F6;
    --date : #B0B0B0;
    --hr-color : #D6D6D6;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box !important;
    outline: none !important;
}

body,html{
    font-family: 'Roboto',sans-serif ;
    min-width: 350px !important;
    background-color: var(--light);
}
/* sidebar active */
.active{
    display: block;
    position: absolute;
    z-index: 10;
}

/* topbar */
header{
    display: flex;
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    z-index: 10;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.424);
}
#logo img{
    width: 200px;
    margin-left: 20px;
    cursor: pointer;
}
#alert{
   display: flex;
   align-items: center;
   position: relative;
   text-align: center;
}
/* #alert::after{
    
} */
.male-profile{
    height: 60px;
    margin-right: 15px;
    margin: 4px 2vw 4px 30px;
    cursor: pointer ;
}
.bell{
    padding-right: 30px;
    width: 60px;
    height: 45px;
    border-right: 2.5px solid rgba(0, 0, 0, 0.335);
    cursor: pointer;
}
#alert::before{
    content: "";
    color: #fff;
    position: absolute;
    z-index: 5;
    text-align: start;
    top: 18px;
    left: 15px;
    font-size: 0.6em;
    text-align: center;
    width: 18px;
    height: 18px;
    line-height: 19px;
    border-radius: 50%;
    background-color: var(--notification-color);
}
.bar{
    display: none; 
    position: fixed;
    cursor: pointer;
    z-index: 3;
    width: 2.4em;
    height: 2.4em;
    margin: 5px 0 0 1vw;
    padding: 10px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    background-color: rgb(104, 78, 255);
    transition: 0.1s all ease-out;
}
.bar-transform{
    position: fixed;
    transform: translate(240px);
}
section{
    display: flex;
    /* min-height: 100vh; */
    margin-top: 67px;
}

/* side bar*/
.sidebar{
    background-color: var(--dark-blue);
    color: #ffffff;
    height: 100vh;
    width: 300px;
    padding: 45px 0 0 0px;
    position: fixed;
    z-index: 2;
}
.sidebar ul li{
    list-style: none;
    display: flex;
    font-weight: 300;
    align-items: center;
    cursor: pointer;
    padding:10px 0 10px 10px;
    border-left:  4px solid var(--dark-blue);
}
.sidebar img{
    width: 30px;
    margin-right: 20px;
}
.sidebar ul li:hover{
    background-color: rgba(255, 255, 255, 0.294);
    transition: 0.1s;
    border-left:  4px solid #fff;
}

/* Mentor profile About */
.mentor-profile{
    background-color: #fff;
    /* flex: 2; */
    height: 16em;
    width: 45vw ;
    margin: 2em auto 2em auto;
    /* margin: 2em; */
    position: relative;
    border-radius: 1em;
    box-shadow: 0 1.5px 10px rgba(0, 0, 0, 0.267);
}
.mentor-center{
    display: flex;
    align-items: center;
    margin: 0 0 0 1em;
}
.star{
    position: absolute;
    top: 1em;
    right: 1em;
    display: flex;
    font-size: 0.8em;
    color: var(--name-yellow);
}
.mentor-profile h1{
    text-align: center;
    background-color: var(--dark-blue);
    color: #fff;
    border-radius: 0 0 20px 20px;
    font-weight: 300;
    width: max-content;
    margin: auto;
    padding: 15px 35px;
}
.mentor-img{
    width: 150px;
    height: 150px;
    background-size: 100%;
    border-radius: 50%;
    border: 3px solid var(--name-yellow);
}
.mentor-profile p{
    width: 300px;
    color: var(--dark-blue);
    margin: 0 0 18px 20px;
}
.mentor-profile span{
    color: var(--name-yellow);
}
/* -------------------------- */
/* Material Request */

.material-request{
    background-color: #fff;
    height: max-content;
    /* flex: 2; */
    width: 45vw ;
    margin: 10em auto 2em auto;
    /* margin: 10em 2em 2em 2em; */
    position: relative;
    border-radius: 1em;
}
.pass-head{
    position: absolute;
    color: var(--dark-blue);
    font-size: 2em;
    font-weight: 600;
    margin: 0 0 0 0.5em;
    top: -2.7em;
}

.key-value{
    padding: 1em;
    font-size: 14px;
    display: flex;
    align-items: center;
}
.item-no{
    position: absolute;
    bottom: -1.5em;
    color: #676768;
    font-weight: 300;
}
.fa-sort-down{
    position: absolute;
    cursor: pointer;
    right: 5%;
    font-size: 1.5em;
    color: var(--dark-blue);
}
.subject-content{
    display: none;
    width: 100% ;
    grid-template-columns: auto auto auto;
    grid-gap: 2em;
    justify-content: center;
    border-radius: 10px;
    padding: 1em 1em 4em 1em;
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.144);
}
.active-sub{
    display: grid;
}
.subject{
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.144);
    padding: 1em;
    border:2px solid #fff ;
}
.subject:hover{
    background-color: var(--light);
}
.clicked-sub{
    border:2px solid var(--dark-blue) ;
}
.approve-btn{
    cursor: pointer;
    position: absolute;
    bottom: 0;
    left: 50%;
    bottom: 10px;
    transform: translate(-50%);
    outline: none;
    border: none;
    padding: 0.5em 3em;
    color: #fff;
    background-color: var(--dark-blue);
    border-radius: 200px;
}
.subject img{
    height: 50px !important;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}
.subject p{
    color: var(--dark-blue);
}
.subject p span{
    color: var(--notify-text);
}
.key-value img{
    position: relative;
    height: 90px;
    margin-right: 2em;
}
.left-key{
    position: relative;
    color: var(--dark-blue);
}
.right-value{
    font-weight: 300;
    color: #969799;
}
.left-key p, .right-value p{
    margin: 5px 0;
}
/* ---------------------------- */
/* Password Change */

.mentor-password{
    background-color: #fff;
    
    height: 16em;
    width: 45vw ;
    margin: 10em auto 2em auto;
    /* margin: 10em 4em 2em 4em; */
    position: relative;
    border-radius: 1em;
    text-align: center;
    box-shadow: 0 1.5px 10px rgba(0, 0, 0, 0.267);
}
.mentor-password h1{
    text-align: center;
    color: var(--dark-blue);
    border-radius: 0 0 20px 20px;
    font-weight: 400;
    width: max-content;
    margin: auto;
    padding: 15px 35px;
}
.pass-head{
    position: absolute;
    color: var(--dark-blue);
    font-size: 2em;
    font-weight: 600;
    left: -1em;
    top: -2.7em;
}
.mentor-password input{
    border: 2px solid var(--dark-blue);
    outline: none;
    border-radius: 5px;
    padding: 0.3em;
    margin: 3px;
}
.mentor-password label{
    margin-top: 10px;
    color: var(--dark-blue);
}
.error{
    display: none;
    color: red;
    font-size: 10px;
}
.save-btn{
    padding: 0.7em 2em;
    cursor: pointer;
    margin: 1em;
    border: none;
    outline: none;
    border-radius: 200px;
    background-color: var(--dark-blue);
    color: #fff;
}
/* ---------------------- */
/* Payment history */

.payment-history{
    background-color: #fff;
    height: max-content;
    /* flex: 2; */
    width: 45vw ;
    margin: 10em auto 2em auto;
    /* margin: 10em 4em 2em 4em; */
    position: relative;
    border-radius: 1em;
}
.pass-head{
    position: absolute;
    color: var(--dark-blue);
    font-size: 2em;
    font-weight: 600;
    left: -1em;
    top: -2.7em;
}

.key-value_pay{
    margin: 2em 0;
    font-size: 14px;
    display: flex;
    justify-content: center;
    
}
.date-time{
    
    color: var(--notify-text);
    font-weight: 600;
    margin: 0 2em;
    position: relative;
}
.date-time::after{
    content: "";
    width: 2px;
    height: 4em;
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: var(--notify-text);
}
.pay-details p{
    color: var(--notify-text);
}
.pay-details span{
    font-weight: 300;
}
.invoice{
    color: var(--dark-blue);
    display: flex;
    margin: 4px 0;
    cursor: pointer;
}
.invoice  p{
    font-weight: 300;
    margin: 0 3em 0 0;
    color: var(--dark-blue);
}
/* ---------------- */
/* Mentor profile */

.mentor-details{
    background-color: #fff;
    /* flex: 2; */
    height: 20em;
    width: 45vw ;
    margin: 10em auto 2em auto;
    /* margin: 10em 4em 2em 4em; */
    position: relative;
    border-radius: 1em;
    text-align: center;
    box-shadow: 0 1.5px 10px rgba(0, 0, 0, 0.267);
}
.edit-profile{
    position: absolute;
    cursor: pointer;
    right: 0;
    color: var(--dark-blue);
    font-size: 1.2em;
    padding: 0.5em;
}
.mentor-details h1{
    text-align: center;
    color: var(--dark-blue);
    border-radius: 0 0 20px 20px;
    font-weight: 400;
    width: max-content;
    margin:3em auto 0 auto;
    position: relative;
    padding: 10px 0 0 0  ;
}
.pass-head{
    position: absolute;
    color: var(--dark-blue);
    font-size: 2em;
    font-weight: 600;
    left: -1em;
    top: -2.7em;
}
.mentor-img_profile{
    width: 170px;
    height: 170px;
    border-radius: 50%;
    position: absolute;
    top: -5em;
    left: 50%;
    transform: translateX(-50%);
    background-image: url(/jeecarnot-mentee-frontend/cdn/Assets/images/icons8-circled-user-male-skin-type-3-96@2x.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.key-value-profile{
    padding: 2em 1em;
    font-size: 14px;
    display: flex;
    text-align: left;
    justify-content: space-evenly;
}
.left-key-profile{
    color: var(--dark-blue);
}
.right-value-profile{
    font-weight: 300;
    color: #969799;
}

/* ------------------ */
/* Your mentees */

.mentees{
    background-color: #fff;
    height: max-content;
    /* flex: 2; */
    width: 45vw ;
    margin: 10em auto 2em auto;
    /* margin: 10em 4em 2em 4em; */
    position: relative;
    border-radius: 1em;
}
.pass-head{
    position: absolute;
    color: var(--dark-blue);
    font-size: 2em;
    font-weight: 600;
    left: -1em;
    top: -2.7em;
}

.key-value-mentee{
    padding: 1em;
    font-size: 14px;
    display: flex;
    align-items: center;
    
}
.key-value-mentee img{
    height: 90px;
    margin-right: 2em;
}
.left-key-mentee{
    color: var(--dark-blue);
}
.right-value-mentee{
    font-weight: 300;
    color: #969799;
}
.left-key-mentee p, .right-value-mentee p{
    margin: 5px 0;
}


/* todos */
.todos{
    width: 300px;
    position: fixed;
    right: 0;
    bottom: 0;
    top: 67px;
    color: var(--dark-blue);
    padding: 2em 0.3em 2em 2em;
    background-color: #fff;
    min-width: 300px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.178);
}
.todos h1{
    text-align: center;
    position: relative;
    color: var(--name-yellow);
}
.lists input{
    cursor: pointer;
    position: absolute;
    top: 4px;
    left: -20px;
}
.lists ul{
    padding: 0 0 2em 0;
}
.lists ul li{
    position: relative;
    text-align: left;
    list-style: none;
    margin: 1.5em 0;
}
.todo-btn{
    display: none;
    padding: 1.5em 0;
    justify-content: center;
}
.todo-btn .fa-times{
    cursor: pointer;
    font-size: 2em;
    color: red;
}
.todo-btn .fa-plus-circle{
    cursor: pointer;
    font-size: 2em;
    margin: 0 2em;
    color: var(--dark-blue);
}
.todo-btn .fa-pen{
    cursor: pointer;
    font-size: 1.8em;
    color: #37B723;
}

.svg{
    height: 300px;
    width: 500px;
    transform : scale(1.2);
    background-image: url(..//jeecarnot-mentee-frontend/cdn/Assets/images/Telecommuting-pana@2x.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 5em auto 0 auto ;
}
/* Notification bar */
.hidden{
    display: block !important;
}
.notifications{
    display: none;
    position: absolute;
    top:90%;
    right: 7em;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.308);
    overflow: hidden;
    width: 25em;
    padding:0 0 5px 0;
}
.notifications > h1{
    background-color: var(--dark-blue);
    -moz-user-select: none;
    -webkit-user-select: none;
    color: #fff;
    font-size: 1.1em;
    font-weight: 400;
    padding: 1em 0;
}
.notifications .fa-bell{
    font-size: 1.3em;
    position: absolute;
    left: 1em;
}
.notifications > h1 img{
    position: absolute;
    left: 1em;
    width: 1.5em;
}
.notify-text{
    text-align: start;
    padding: 1px 3em;
    cursor: pointer;
}
.notify-text:hover{
    background-color: var(--notify-hover);
}
.notify-text h1{
    font-size: 0.7em;
    color: rgba(0, 0, 0, 0.658);
    margin: 15px 0 3px 0;
    position: relative;
}
.notify-text h1 span{
    font-weight: 400;
    font-size: 1em;
}
.notify-text h1::before{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    top: 2px;
    left: -30px;
    border-radius: 50%;
    background-color: var(--notification-color);
}
.text-msg{
    font-size: 0.8em;
    color : var(--notify-text); 
}
hr{
    margin-top: 5px;
    border: 1px solid var(--hr-color);
    background-color: var(--hr-color);
}
.bottomText{
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    font-size: 0.7em;
    color: var(--date);
}
.link{
    font-weight: 400;
}
.last-txt{
    color: var(--dark-blue);
    text-decoration: none;
}
/* profile info */
.profile-info{
    display: none;
    width: 280px;
    position: absolute;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.288);
    top: 90%;
    right: 5%;
    z-index: 10;
    overflow: hidden;
}
.top-info{
    display: flex;
    align-items: center;
    text-align: left;
    background-color: var(--dark-blue);
    color: #fff;
}
.email{
    font-size: 0.8em;
    font-weight: 300;
}
.profile-info  ul{
    display: flex;
    flex-direction: column;
    margin:0.7em ;
}
.profile-info ul li{
    cursor: pointer;
    display: flex;
    align-items: center;
    color: var(--dark-blue);
    padding: 0.5em 0;
    list-style: none;
}
.profile-info ul li:hover{
    background-color: var(--notify-hover);
}
.profile-info ul li img{
    padding :0 10px;
}

/* Creating responsive layout */
@media only screen and (max-width: 1200px){
    aside{
      display: none;
    }
    .bar{
        display: block;
    }
    .mentor-details,.material-request,.mentor-password,.payment-history,.mentees{
        width: 60vw;
        margin: 10em 0 2em 2em;
    }
    .mentor-profile{
        /* margin-top: 4em;
        width: 85vw; */
        width: 60vw;
        margin: 5em 0 0em 2em;
    }
}
@media only screen and (max-width: 900px){
   section{
       flex-direction: column; 
   }
  
   .svg{
       display: none;
   }
   .mentor-profile{
      margin: 5em auto;
      width: 85vw;
      padding:0 0 1em 0;
   }
   .mentor-details,.material-request,.mentor-password,.payment-history,.mentees{
       width: 85vw;
       margin: 10em auto 2em auto;
   }
   .todos{
       position: static;
       border-radius: 1em;
       width: 90vw;
       margin: auto;
   }
  
}
@media only screen and (max-width: 600px){
    .mentor-profile{
        height: 24em;
    }
    .mentor-center{
        padding: 1em 0 0 0;
        flex-direction: column;
    }
    .mentor-details,.material-request,.mentor-password,.payment-history,.mentees{
        width: 90vw;
        margin:8em auto 3em auto;
    }
    .mentor-img_profile{
        width: 150px;
        height: 150px;
        top: -4.5em;
    }
    .subject-content{
        grid-template-columns: auto auto;
    }
    .pass-head{
        left: 0px;
        top: -2em;
    }
    .star{
        top: -2em;
    }
    .svg{
        display: none;
    }
    #logo img{
        width: 140px;
    }
    .notifications{
        right: 3vw;
        width: 90vw ;
        margin: auto;
    }
}
@media only screen and (max-width: 400px){
    .subject-content{
        grid-template-columns: auto;
    }
    
}

